@import "variables";

.btn-xsm {
  padding: $btn-xsm;
}
.btn-sm {
  padding: $btn-sm;
}
.btn-md {
  padding: $btn-md;
}

.button-empty {
  border: 1.5px solid $c-main-wh;
  border-radius: $btn-radius-pri;
  -webkit-border-radius: $btn-radius-pri;
  -moz-border-radius: $btn-radius-pri;
  -ms-border-radius: $btn-radius-pri;
  -o-border-radius: $btn-radius-pri;
  color: $c-main-wh;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}
.button-filled-w {
  border-radius: $btn-radius-pri;
  -webkit-border-radius: $btn-radius-pri;
  -moz-border-radius: $btn-radius-pri;
  -ms-border-radius: $btn-radius-pri;
  -o-border-radius: $btn-radius-pri;
  color: $c-main-bl;
  background-color: $c-main-wh;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}
.button-filled-g {
  border-radius: $btn-radius-sec;
  -webkit-border-radius: $btn-radius-sec;
  -moz-border-radius: $btn-radius-sec;
  -ms-border-radius: $btn-radius-sec;
  -o-border-radius: $btn-radius-sec;
  color: $c-main-wh;
  background: $c-gradient;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}
